





.field {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    border: 0px;
    width: 20%;
    height: 100%;
    padding: 10px 20px;
    background: lightblue;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 180px;
    
}
.field:hover{
    background: wheat;
}
.button23{
    border-radius: 10px;
    width: 20%;
    background-color: aliceblue;
    color: black;
    margin-bottom: 10px;
    margin-left: 180px;
    
}
.button23:hover{
    background-color:aquamarine;
    color: black;

}

